/*
header{
    background-color: red;
}
main{
    background-color: orange;
}

nav{
    background-color: yellow;
}
article{
    background-color: green;
}
section{
    background-color: greenyellow;
}
footer{
    background-color: purple;
}
*/
